<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>AddFormPenyakit</title>
</head>
<body>
  
  <!-- ini navbar -->
  <nav class="bg-white dark:bg-red-500 fixed w-full z-20 top-0 start-0 border-b border-red-200 dark:border-red-400">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="/admin/disease"> <!-- to homepage --> 
        <label for="" class="text-white text-3xl font-bold">DocuHealth</label>
      </a>
    </div>
  </nav>
  <!-- ini navbar -->

  <h1 class="flex items-center justify-center mt-20 font-bold text-4xl text-red-600">Tambah Penyakit</h1>
  <form action="/admin/diseases/<%= disease.id %>/edit" method="post" class="max-w-sm mx-auto mt-20">
      <div class="mb-5">
        <label for="" class="block mb-2 text-sm font-medium text-red-900 dark:text-red-500">Nama Penyakit</label>
        <input type="text" id="" name="name" value="<%= disease.name %>" class="bg-red-50 border border-red-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-white dark:border-red-600 dark:placeholder-red-400 dark:text-dark dark:focus:ring-red-500 dark:focus:border-red-500" />
      </div>
      <div class="mb-5">
        <label for="" class="block mb-2 text-sm font-medium text-red-900 dark:text-red-500">Deskripsi</label>
        <textarea id="" rows="4" name="description" class="block p-2.5 w-full text-sm text-red-900 bg-gray-50 rounded-lg border border-red-300 focus:ring-red-500 focus:border-red-500 dark:bg-white dark:border-red-600 dark:placeholder-red-400 dark:text-black dark:focus:ring-red-500 dark:focus:border-red-500" placeholder="Tolong tuliskan disini..."><%= disease.description %></textarea>
      </div>
      <label for="" class="block mb-2 text-sm font-medium text-red-900 dark:text-red-500">Pilih Opsi Tingkat Keparahan</label>
        <select id="" name="Level" class="bg-red-50 border border-red-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-500 dark:border-red-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500">
          <option value="" disabled selected>Tingkat Keparahan</option>
          <option value="1" <%= disease.level == 1 ? 'selected' : '' %>>1</option>
          <option value="2" <%= disease.level == 2 ? 'selected' : '' %>>2</option>
          <option value="3" <%= disease.level == 3 ? 'selected' : '' %>>3</option>
        </select>
      <label for="" class="block mb-2 text-sm font-medium text-red-900 dark:text-red-500">Pilih Macam Gejala</label>
        <select id="" name="UserId" class="bg-red-50 border border-red-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-500 dark:border-red-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500 mb-20">
          <option value="" disabled selected>Gejala</option>
          <% symptoms.forEach(el => { %>
            <option value="<%= el.id %>" <%= el.id === disease.SymptomId ? 'selected' : '' %>><%= el.name %></option>
          <% }) %>
        </select>
    <button type="submit" class="flex items-center justify-center :outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Submit</button>
  </form>
</body>
</html>